body {
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background-color: rgb(120, 200, 244);
	overflow: hidden;
	background-color:var(--bg);
	color:var(--clr);
	accent-color:var(--clr-a);
}

:root {
	color-scheme:light dark;
	
	--bg:light-dark(rgb(99, 196, 241), rgb(12, 8, 59));
  	--clr-c:light-dark(rgba(25, 127, 186, 0.5), rgba(246, 255, 0, 0.75));
  	--clr-b:light-dark(rgba(9, 47, 69, 0.2), rgb(255, 0, 0));
}

:root:has( [value="light"]:checked ) { 
	color-scheme:light;
}

:root:has( [value="dark"]:checked ) { 
	color-scheme:dark;
}

section {
    display: flex;
	justify-content: center;
}

h1 {
	text-align: center;
	margin-top: 2rem;
	font-size: 4rem;
  	font-family: "Cabin Sketch", sans-serif;
  	font-weight: 700;
  	font-style: normal;
}

form {
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 10000;
}

picture {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	margin-top: auto;
}

picture img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	min-width: 40vw;
	animation: floatUpDown 3s ease-in-out infinite;
}

@keyframes floatUpDown {
  0%, 100% {
	transform: translateY(0);
  }
  50% {
	transform: translateY(-50px);
  }
}

.bubbles-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	/* pointer-events: none;
	z-index: 5; */
}

.circle {
  	overflow: hidden; 
	display: flex;
  	justify-content: center;
  	align-items: center;
	background-color:var(--clr-c);
  	border-radius: 50%; 
	box-shadow: inset 0px 0px 12px 2px var(--clr-b);
  	position: absolute;
  	bottom: -70px;
  	animation: flyUp linear infinite;
	scale: 1;
	will-change: transform, bottom;
	/* pointer-events: auto;
	cursor: pointer;
	z-index: 10; */
}

.circle:nth-child(1)  { left: 5%;  animation-delay: 0s;   width: 40px; height: 40px; animation-duration: 8s; }
.circle:nth-child(2)  { left: 15%; animation-delay: 2s;   width: 60px; height: 60px; animation-duration: 6s; }
.circle:nth-child(3)  { left: 25%; animation-delay: 1s;   width: 30px; height: 30px; animation-duration: 9s; }
.circle:nth-child(4)  { left: 35%; animation-delay: 4s;   width: 50px; height: 50px; animation-duration: 7s; }
.circle:nth-child(5)  { left: 45%; animation-delay: 3s;   width: 25px; height: 25px; animation-duration: 9.5s; }
.circle:nth-child(6)  { left: 55%; animation-delay: 0.5s; width: 55px; height: 55px; animation-duration: 6.5s; }
.circle:nth-child(7)  { left: 65%; animation-delay: 2.5s; width: 45px; height: 45px; animation-duration: 7.5s; }
.circle:nth-child(8)  { left: 75%; animation-delay: 1.5s; width: 35px; height: 35px; animation-duration: 8.5s; }
.circle:nth-child(9)  { left: 85%; animation-delay: 3.5s; width: 65px; height: 65px; animation-duration: 5.5s; }
.circle:nth-child(10) { left: 95%; animation-delay: 0.2s; width: 20px; height: 20px; animation-duration: 10s; }
.circle:nth-child(11) { left: 10%; animation-delay: 4.5s; width: 70px; height: 70px; animation-duration: 8s; }
.circle:nth-child(12) { left: 20%; animation-delay: 1.2s; width: 30px; height: 30px; animation-duration: 9s; }
.circle:nth-child(13) { left: 30%; animation-delay: 2.8s; width: 45px; height: 45px; animation-duration: 10s; }
.circle:nth-child(14) { left: 40%; animation-delay: 0.8s; width: 55px; height: 55px; animation-duration: 6.5s; }
.circle:nth-child(15) { left: 50%; animation-delay: 3.2s; width: 65px; height: 65px; animation-duration: 5.5s; }
.circle:nth-child(16) { left: 60%; animation-delay: 1.8s; width: 35px; height: 35px; animation-duration: 10s; }
.circle:nth-child(17) { left: 70%; animation-delay: 4.1s; width: 40px; height: 40px; animation-duration: 8s; }
.circle:nth-child(18) { left: 80%; animation-delay: 2.3s; width: 25px; height: 25px; animation-duration: 9.5s; }
.circle:nth-child(19) { left: 90%; animation-delay: 0.4s; width: 30px; height: 30px; animation-duration: 9s; }
.circle:nth-child(20) { left: 2%;  animation-delay: 3.7s; width: 20px; height: 20px; animation-duration: 10s; }

@keyframes flyUp {
  0% {
    bottom: -120px;
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    bottom: 110vh; 
    opacity: 0;   
  }
}

.circle img {
  width: 70%; 
  height: 70%;
  object-fit: contain; 
  opacity: 1;
}

/* .paused {
    animation-play-state: paused;
    z-index: 100; 
} */

#dive-btn {
	display: none; 
    margin: 2rem auto;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: var(--clr-c); 
    border: 4px solid var(--clr-b);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    position: relative; 
    z-index: 10001;
}

#dive-btn:hover {
	background-color: rgb(9, 9, 56, 0.8);
	color: rgb(255, 255, 255);
}

.score-board {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 1rem;
    font-weight: bold;
    color: white; 
    background-color: rgba(0, 0, 0, 0.2); 
    padding: 5px 10px;
    border-radius: 10px;
    z-index: 10000; 
    pointer-events: none;
    font-family: sans-serif;
}

.pop {
    animation: explode 3s forwards ease-in-out;
    pointer-events: none; 
}

@keyframes explode {
0% { 
        transform: scale(1); 
        opacity: 1; 
    }

100% { 
        transform: scale(2); 
        opacity: 0; 
    }
}