body {
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	width: 100vw;
	height: 100vh;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.square {
	background: #eedd8c;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
    height: 50vh;
    border: 1px solid black;
}

button img {
    width: 200px;
    height: 200px;
}

section {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

/* main div.grid div.square:nth-of-type(1) {
    background-color: red;
} */